###Para ativar
#sudo cp FlaskStream.service /etc/systemd/system/
#sudo touch /etc/systemd/system/FlaskStream.service
#sudo chmod 664 /etc/systemd/system/FlaskStream.service
#sudo systemctl daemon-reload ;verifica todos os .service nos diretorios de services
#sudo systemctl enable FlaskStream ;para incluir no system
##sudo systemctl disable FlaskStream ;para desabilitar do system
#sudo systemctl start FlaskStream

[Unit]
Description=FlaskStream subsystem - Linux Hosted
Wants=network-online.target
After=network-online.target

[Service]
Type=idle
User=ubuntu
WorkingDirectory=/home/ubuntu/FlaskStreaming
ExecStart=/usr/bin/python3 app.py 
ExecStop=/usr/bin/pkill -f /home/ubuntu/FlaskStreaming/app.py
Restart=always
RestartSec=15
SyslogIdentifier=FlaskStreaming

[Install]
WantedBy=multi-user.target